* {
  margin: 10;
  background-color: bisque;
 
}

body {
  font-family: Arial;
}

.grid-container {
  display: grid; 
  
 grid-template-columns: 1fr 1fr 1.5fr;
  
 grid-template-rows: repeat(2, 200px);

}

.item {
  
  display: grid;
  place-items: center;     
  border: 1px solid black;  
}

.item:hover {
  background-color: rgb(255, 0, 212);
}


.destacada {
  grid-column: span 2;
  grid-row: span 1;
}

.card2 {
  grid-column: span 1;
  grid-row: span 1; 
}

.card3 {
  grid-column: span 1;
  grid-row: span 1;
}

.card4 {
  grid-column: span 2;
  grid-row: span 1;
}