* {
  margin: 10;
  background-color: bisque;
 
}

body {
  font-family: Arial;
}

.item {
  
  display: grid;
  place-items: center;     
  border: 1px solid black;  
}

.grid-container {
  display: grid; 

  grid-template-columns: 200px 1fr; 

  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";

  gap: 15px; 
}

.header {
  grid-area: header;
}

.menu {
  grid-area: menu;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}







* {
  margin: 10;
  background-color: bisque;
 
}

body {
  font-family: Arial;
}

.item {
  
  display: grid;
  place-items: center;     
  border: 1px solid black;  
}

.grid-container {
  display: grid; 

  grid-template-columns: 1fr; 

  grid-template-areas:
    "header "
    "menu "
    "content"
    "footer ";

  gap: 15px; 
}

.header {
  grid-area: header;
}

.menu {
  grid-area: menu;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
